.registerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f1f2;
  }
  
.registerPopup{
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
}
  
.registerPopup h1 {
    font-size: 24px;
    font-weight: bold;
    color: #4aa5c7;
    margin-bottom: 20px;
}
  
.registerPopup input {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #4aa5c7;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: background 0.3s;
  }
  
.registerPopup input:focus {
    background-color: rgb(244, 242, 242);
    border-color: #106e91;
}

.registerPopup button {
    width: 100%;
    padding: 10px;
    background: #4aa5c7;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}
  
.registerPopup button:hover {
    background: #59bde1;
}

span{
    color: #4aa5c7;
    font-weight: bold;
}
  